.main-container {
  position: relative;
  width: 1300px;
  height: 700px;
  margin: 0 auto;
  top: 4%;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1250px) {
  .main-container {
    width: calc(100vw - 30px);
    height: auto;
    flex-wrap: wrap;
  }
}
.main-container .main-row-container {
  flex: 0.9 0.9 0px;
}
.main-container .main-row-container .main-content {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
  position: relative;
  max-width: 415px;
  max-height: 680px;
  border: 1px solid black;
  -moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.9);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.9);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  transition: 150ms ease-in-out;
  cursor: pointer;
}
@media (max-width: 1250px) {
  .main-container .main-row-container .main-content {
    width: calc(100vw - 50px);
    height: auto;
    background-color: black;
  }
}
.main-container .main-row-container .main-content .content-picture {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  filter: greyscale(0);
  transition: 300ms ease-in-out;
}
@keyframes slideUp {
  0%, 50% {
    transform: translateY(100%);
    opacity: 0;
  }
  60%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideRight {
  0%, 50% {
    transform: translateX(-100%);
    opacity: 0;
  }
  60%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideDown {
  0%, 50% {
    transform: translateY(-100%);
    opacity: 0;
  }
  60%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.main-container .main-row-container .main-content .overlay-text-container {
  letter-spacing: -0.02rem;
  width: 100%;
  height: 100%;
  margin: 10px 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}
.main-container .main-row-container .main-content .overlay-text-container .responsive-text-header {
  font-size: 25px;
}
.main-container .main-row-container .main-content .overlay-text-container .responsive-text-subheader {
  font-size: 15px;
}
.main-container .main-row-container .main-content .overlay-text-container .offset-header {
  display: block;
  overflow: hidden;
}
.main-container .main-row-container .main-content .overlay-text-container .offset-header > span {
  animation-duration: 0.6s;
  animation-timing-function: ease-in;
  display: block;
  opacity: 0;
}
@media (max-width: 1250px) {
  .main-container .main-row-container .main-content .overlay-text-container .offset-header > span {
    opacity: 1;
  }
}
.main-container .main-row-container .main-content .overlay-text-container .offset-header-odd > span {
  text-align: left;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 45px;
  margin-top: 290px;
  width: 100%;
  text-align: center;
}
.main-container .main-row-container .main-content .overlay-text-container .offset-header-even > span {
  text-align: left;
  animation-delay: 150ms;
  animation-fill-mode: both;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  font-size: 26px;
  width: 100%;
  text-align: center;
}
.main-container .main-row-container .main-content .overlay-background {
  width: 100%;
  height: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  opacity: 0;
  border-radius: 10px 10px 10px 10px;
  z-index: 1;
  transition: 400ms ease-in-out;
}
@media (max-width: 1250px) {
  .main-container .main-row-container .main-content .overlay-background {
    opacity: 1;
    height: 100%;
  }
}
.main-container .main-row-container .main-content:hover {
  transform: translateY(-5px) translateX(-5px);
}
.main-container .main-row-container .main-content:hover .content-picture {
  filter: blur(2px);
}
.main-container .main-row-container .main-content:hover .overlay-background {
  opacity: 1;
  height: 100%;
}
.main-container .main-row-container .main-content:hover .overlay-text-container .offset-header > span {
  animation-name: slideUp;
}
.main-container .main-row-middle {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1250px) {
  .main-container .main-row-middle {
    width: calc(100vw - 30px);
    height: auto;
    flex-wrap: wrap;
  }
}
.main-container .main-row-middle .main-content-middle {
  margin: auto;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 13px;
  max-width: 415px;
  max-height: 328px;
  border: 1px solid black;
  -moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.9);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.9);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  transition: 150ms ease-in-out;
  cursor: pointer;
}
@media (max-width: 1250px) {
  .main-container .main-row-middle .main-content-middle {
    width: calc(100vw - 50px);
    height: auto;
    background-color: black;
  }
}
.main-container .main-row-middle .main-content-middle .content-picture {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  filter: greyscale(0);
  transition: 300ms ease-in-out;
}
@keyframes slideUp {
  0%, 50% {
    transform: translateY(100%);
    opacity: 0;
  }
  60%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideRight {
  0%, 50% {
    transform: translateX(-100%);
    opacity: 0;
  }
  60%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideDown {
  0%, 50% {
    transform: translateY(-100%);
    opacity: 0;
  }
  60%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0%, 50% {
    transform: translateX(100%);
    opacity: 0;
  }
  60%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.main-container .main-row-middle .main-content-middle .overlay-text-container {
  letter-spacing: -0.02rem;
  width: 100%;
  height: 100%;
  margin: 10px 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}
.main-container .main-row-middle .main-content-middle .overlay-text-container .responsive-text-header, .main-container .main-row-middle .main-content-middle .overlay-text-container .responsive-text-subheader {
  display: block;
  overflow: hidden;
}
.main-container .main-row-middle .main-content-middle .overlay-text-container .offset-header {
  display: block;
  overflow: hidden;
}
.main-container .main-row-middle .main-content-middle .overlay-text-container .offset-header > span {
  animation-duration: 0.6s;
  animation-timing-function: ease-in;
  display: block;
  opacity: 0;
}
@media (max-width: 1250px) {
  .main-container .main-row-middle .main-content-middle .overlay-text-container .offset-header > span {
    opacity: 1;
  }
}
.main-container .main-row-middle .main-content-middle .overlay-text-container .offset-header-odd > span {
  text-align: left;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 45px;
  margin-top: 130px;
  width: 100%;
  text-align: center;
}
.main-container .main-row-middle .main-content-middle .overlay-text-container .offset-header-even > span {
  text-align: left;
  animation-delay: 150ms;
  animation-fill-mode: both;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  font-size: 26px;
  width: 100%;
  text-align: center;
}
.main-container .main-row-middle .main-content-middle .overlay-background {
  width: 100%;
  height: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  opacity: 0;
  border-radius: 10px 10px 10px 10px;
  z-index: 1;
  transition: 400ms ease-in-out;
}
@media (max-width: 1250px) {
  .main-container .main-row-middle .main-content-middle .overlay-background {
    opacity: 1;
    height: 100%;
  }
}
.main-container .main-row-middle .main-content-middle:hover {
  transform: translateY(-5px) translateX(-5px);
}
.main-container .main-row-middle .main-content-middle:hover .content-picture {
  filter: blur(2px);
}
.main-container .main-row-middle .main-content-middle:hover .overlay-background {
  opacity: 1;
  height: 100%;
}
.main-container .main-row-middle .main-content-middle:hover .overlay-text-container .offset-header > span {
  animation-name: slideUp;
}

/*# sourceMappingURL=index.css.map */
