body,
html {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  background-color: white;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.logo-container {
  width: 100px;
  height: 100px;
  top: 0;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1250px) {
  .logo-container {
    width: 50px;
    height: 50px;
  }
}
.logo-container .logo {
  width: 100%;
  height: 100%;
}

.navbar-container {
  width: 900px;
  height: 35px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 1250px) {
  .navbar-container {
    display: none;
  }
}
.navbar-container .navbar-text {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  display: inline-block;
}
.navbar-container .navbar-text::after {
  display: block;
  content: "";
  border-bottom: solid 2px rgb(255, 105, 180);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.navbar-container .navbar-text:hover::after {
  transform: scaleX(1);
}

.navbar-socials-container {
  width: 35px;
  height: 35px;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  transition: 300ms ease-in-out;
}
@media (max-width: 1250px) {
  .navbar-socials-container {
    display: none;
  }
}
.navbar-socials-container .navbar-social {
  font-size: 40px;
  color: black;
  position: inherit;
  transition: 150ms ease-in-out;
}
.navbar-socials-container .navbar-social:hover {
  color: rgb(255, 105, 180);
}

.responsive {
  display: none;
}
@media (max-width: 1250px) {
  .responsive {
    display: contents;
  }
}
.responsive .navbar-out-button {
  position: absolute;
  margin-left: 10px;
  top: 0;
  margin-top: 10px;
}
@media (max-width: 1250px) {
  .responsive .navbar-out-button div {
    width: 35px;
    height: 4px;
    background-color: black;
    margin: 4px 0;
  }
}
@media (max-width: 1250px) {
  .responsive .navbar-responsive {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    overflow: hidden;
    transform: translate(-100vw);
    transition: 300ms ease-in-out;
    z-index: 3;
  }
}
@media (max-width: 1250px) {
  .responsive .navbar-responsive .x-button-responsive {
    top: 0;
    right: 0;
    position: absolute;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 25px;
    color: black;
    font-weight: bold;
  }
}
.responsive .navbar-responsive .link-container-responsive {
  width: 100vw;
  height: 300px;
  margin-top: 35vh;
  position: absolute;
  text-align: center;
}
.responsive .navbar-responsive .link-container-responsive .nav-responsive-text {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  display: list-item;
  margin: 10px;
}
.responsive .navbar-responsive .link-container-responsive .navbar-social-responsive {
  font-size: 40px;
  color: black;
}

/*# sourceMappingURL=main.css.map */
